
<h1>Who am I?</h1>
<div class="me">
  <%= image_tag 'me.png' %>
</div>

<p>My name is John Bertlik. I am a guy from planet Earth, carving my own path in this universe. I don't know all the answers to life, but I have a curiosity itch to scratch.</p>

<p>There are many interesting things in this world that I want to know more about. Philosophy, psychology, sociology, music, technology, computers, what my cats think when I come home. Are they happy to see me unconditionally? Or is there another agenda on their minds? Hmm..</p>

<p>As you can see, this site is a work in progress, and I have many ideas in mind for it. It is built in Ruby on Rails. I am applying a more Javascript friendly approach to the front end, as I would like to incorporate React componets and other interesting ideas.</p>

<p>Check my blog to see my progress! And thanks for stopping by.</p>
