<h1>Contact me</h1>

<script>
  ReactDOM.render(<app/assets/javascripts/components/_layout.js>, document.getElementById('demo-big-content'))
</script>

<p>This is the contact me page with all my links and email and stuff.</p>
