<h1>Contact me</h1>

<ul>
  <li><h3><a href="mailto:jbertlik@gmail.com">Email</a></h3></li>
  <li><h3><a href="https://github.com/JBert9000">Github</a></h3></li>
  <li><h3><a href="https://soundcloud.com/chiibu">Soundcloud</a></h3></li>
  <li><h3><a href="https://www.linkedin.com/in/john-bertlik-59b4b95b/">Linkedin</a></h3></li>
</ul>
