<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
   <h3>Flappy Bird using JS | by learnWD</h3>

   <canvas id="canvas" width="288" height="512"></canvas>

   <script>

   console.log("test1");

    var cvs = document.getElementById("canvas");
    var ctx = cvs.getContext("2d");

    //load images

    var bird = new Image();
    var bg = new Image();
    var fg = new Image();
    var pipeNorth = new Image();
    var pipeSouth = new Image();

    bird.src = "images/bird.png";
    bg.src = "images/bg.png";
    fg.src = "images/fg.png";
    pipeNorth.src = "images/pipeNorth.png";
    pipeSouth.src = "images/pipeSouth.png";


    // draw images
    function draw(){

      ctx.drawImage(bg,0,0)

    };

    draw();

    console.log("test2");

   </script>

  </body>
</html>
