
<h1>Nintendo Character Database Randomizer</h1>
<p>Here I wanted to seed a database and randomize the names just to see if it will work. This little page created 100 Nintendo character and game title names. Each has a show page when clicking on them. I want to implement a button which calls a rake task that resets the database so that the user can randomize their own database of names.</p>
<h4><%= link_to "Take a look!", nintendo_characters_path %></h4>

<!-- <h1>First try at React!</h1> -->
<h4><% link_to "Take a look!", "/interests/react-fruits", class: "font-color-change" %></h4>

<!-- <h1>Map of where I went to in Japan</h1> -->
<h4><% link_to "Check it out here!", "/interests/japan-trip", class: "font-color-change" %></h4>
