<h1>Bored? Play some Flappy Bird!</h1>
<h4><%= link_to "Play here!", "/interests/flappybird", class: "font-color-change" %></h4>

<h1>Map of where I went to in Japan</h1>
<h4><%= link_to "Check it out here!", "/interests/japan-trip", class: "font-color-change" %></h4>
