<h1>Work in progress!</h1>

<!-- <h1>First try at React!</h1> -->
<h4><% link_to "Take a look!", "/interests/react-fruits", class: "font-color-change" %></h4>

<!-- <h1>Map of where I went to in Japan</h1> -->
<h4><% link_to "Check it out here!", "/interests/japan-trip", class: "font-color-change" %></h4>
