<h1>React-Fruits</h1>

<h4>Here I made a simple list of fruits using React. This is a demo so that I could learn how to use React with Rails. You can take a look at the source material<a href="https://medium.com/quick-code/simple-rails-crud-app-with-react-frontend-using-react-rails-gem-b708b89a9419"><u>here</u></a></h4>

<%= react_component 'Main' %>
