<div class="col-1 about homepage_content">
  <h2>About</h2>
  <hr>
  <p>I'm a guy making a website right now.</p>
  <p>This will be filled out later. Here is a<a href="http://where-to-travel.herokuapp.com/">product</a>I've been working on.</p>
</div>
